[submodule "Lapis/vendor/spdlog"]
	path = Lapis/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lapis/vendor/GLFW"]
	path = Lapis/vendor/GLFW
	url = https://github.com/Anomalore/glfw